{% macro ifmch(varname, varvalue, valmatch, vardefault) %}{% if varname == varvalue %}{{ valmatch }} {% else %} {{ vardefault }}{% endif %} {% endmacro %}
{% macro ifactive(varname, varvalue) %}{% if varname == varvalue %}active{% endif %}{% endmacro %}
{% macro ifpath(varname, varvalue,pathname) %}{% if varname == varvalue %}#{% else %} {{ path(pathname)  }} {% endif %}{% endmacro %}


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RoboBl</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{{ _self.ifactive(active_menu, 'demo')}}"><a href="{{ _self.ifpath(active_menu,'demo','app_demo_index') }}">Demo</a></li>
                <li class="{{ _self.ifactive(active_menu, 'quickcheck')}}"><a href="{{ _self.ifpath(active_menu,'quickcheck','app_quickcheck_index') }}">QuickCheck</a></li>
                <li class="{{ _self.ifactive(active_menu, 'editor')}}"><a href="{{ _self.ifpath(active_menu,'editor','app_editor_index') }}">Editor</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>