{% extends "UserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

  {% include 'UserBundle::agreement.html.twig' %}

  <div class="login-page--wrapper register-page--wrapper">

        <div class="login-page--content register-page--content">

            <h1 class="register-page--title">
              <span>Sign Up</span>
              Get started
            </h1>

  {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div class="register-page---form">
      <div class="register-page--avatar">
        <img src="/img/register-avatar.jpg" alt="" />
      </div>
      {{ form_widget(form) }}
    </div>

    <div class="register-page--agreement-link">
        <input type="checkbox" id="privacyCheckbox" onChange="toggleSubmitButton(this)" />
        I agree to the <label for="userAgreement">Terms of Use and Privacy Policy</label>
    </div>

    <div class="register-page---submit">
        <input type="submit" disabled="disabled" value="Sign Up for Free" />
    </div>

    <script>
      var toggleSubmitButton = function toggleSubmitButton (el) {
        var btn = document.querySelector('.register-page---submit input');
        if (el.checked) {
          btn.removeAttribute('disabled');
        } else {
          btn.setAttribute('disabled', 'disabled');
        }
      };

      var userNameInput = document.getElementById('fos_user_registration_form_username');
      userNameInput.setAttribute('maxlength', '32');
    </script>
  {{ form_end(form) }}

      </div>

     </div>

{% endblock %}

{% block title %}
    Sign Up Free
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet type="text/css" href="{{ asset('css/login.css') }}" />
{% endblock %}
