<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Hello{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0, minimal-ui"/> 
        {% block stylesheets %}
          <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
          <link rel="stylesheet type="text/css" href="{{ asset('css/common.css') }}" />
        {% endblock %}
    </head>
    <body>
        <!--div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div-->

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% block fos_user_content %}
        {% endblock %}

    </body>
    {% block javascripts %}
        <!—- BEGIN JIVOSITE CODE {literal} -—>
        <script type='text/javascript'>
        (function(){ var widget_id = 'K7SoueEdUm';
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
        <!-— {/literal} END JIVOSITE CODE —->
    {% endblock %}
</html>
