{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    {% include 'UserBundle::agreement.html.twig' %}

    <div class="login-page--wrapper">

        <div class="login-page--content">

            <h1 class="login-page--title">ontourcloud</h1>

            {% set inputClass = 'login-page--input-field' %}

            {% if error %}
                {% set inputClass = 'login-page--input-field login-page--input-field--error' %}
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="login-page--input-block">
                    <!--label for="username">{{ 'security.login.username'|trans }}</label-->
                    <input class="{{ inputClass }}" type="text" id="username" placeholder="{{ 'security.login.username'|trans }}" name="_username" value="{{ last_username }}" required="required" />
                </div>

                <div class="login-page--input-block">
                    <!--label for="password">{{ 'security.login.password'|trans }}</label-->
                    <input class="{{ inputClass }}" type="password" id="password" placeholder="{{ 'security.login.password'|trans }}" name="_password" required="required" />
                </div>

                <div class="register-page--agreement-link">
                  Pressing button I agree with <label for="userAgreement">Terms of Use</label>
                </div>
<br />
                <div class="login-page--input-block login-page--input-block__align-right">

                    <label class="login-page--checkbox-label">
                        <input class="login-page--checkbox" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <span class="login-page--checkbox-view"></span>
                        {{ 'security.login.remember_me'|trans }}
                    </label>

                    <input class="login-page--button" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </div>
            </form>

            <div class="login-page--reset-password">
                <a href="" class="login-page--reset-password-link">{{ 'security.login.reset_password'|trans }}</a>
            </div>

            <div class="login-page--or--devider">
                <div class="login-page--or--devider--text">
                    {{ 'or'|trans }}
                </div>
            </div>

            <a href="/register" class="login-page--register-link">{{ 'security.login.register_link'|trans }}</a>
        </div>

    </div>

{% endblock %}

{% block title %}
    Log In
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet type="text/css" href="{{ asset('css/login.css') }}" />
{% endblock %}
